<div class="extended-wrapper">
  {%- if site.projects.size > 0 -%}
  <div class="grid-row">

    {% for project in site.projects reversed %}
      <div class="col portfolio-card">
        <div class="content">
          <a href="{{ project.url | prepend: site.baseurl }}">
          <div class="card-thumbnail">
            {% if project.thumbnail %}
            <img src="{{ project.thumbnail }}" alt="project-thumbnail">
            {% else %}
            <img src="/assets/images/projects/project-stock.jpg" alt="project-thumbnail">
            {% endif %}
          </div>
          <div class="card-text">
            
            <h3>{{ project.title }}</h3>
            {% if project.categories.size > 0 -%}
              <p class="card-tags">
                {% for tag in project.categories %}
                <span class="category-tag">{{tag}}</span>
                {% endfor %}
              </p>
            {%- endif -%}
          </div>
          </a>
        </div>
      </div>
    

    {% endfor %}

  </div>
  {%- endif -%}
</div>
