{%- if site.studies.size > 0 -%}
  <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
  <ul class="post-list">
    {%- for study in site.studies reversed -%}
    <li>
        <a href="{{ study.url | relative_url }}">
          {{ study.title | escape }}
        </a>
      {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
      <span class="post-meta">{{ study.date | date: date_format }}</span>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
