---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.books.size > 0 -%}
    {%- assign groupedByYear = site.books | group_by_exp:"post", "post.date | date:'%Y'" -%}

    {%- for item in groupedByYear -%}
    <h2 class="post-list-heading">{{ page.list_title | default: item.name }}</h2>
    <ul>
      
      {%- for post in item.items -%}
      <li>
          <!-- <a class="post-link" href="{{ post.url | relative_url }}"> -->
          <a class="post-list-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
      </li>
      {%- endfor -%}
    </ul>
    {%- endfor -%}

  {%- endif -%}

</div>
