---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.questions.size > 0 -%}

    {%- for post in site.questions -%}

    <!-- <h2 class="post-list-heading">{{ page.list_title | default: item.name }}</h2> -->
    <ul>
      <li>
        <!-- <span style="font-weight: bold;">{{ post.title }}</span> -->
        <!-- <br> -->
        {{ post.content }}

      </li>
    </ul>
    
    {%- endfor -%}

  {%- endif -%}

</div>
