---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%} 

{{ content }}

<div class="portfolio-wrapper">
  

  <div class="grid-row">

    {% for project in site.projects %}
    <a href="{{ project.url | prepend: site.baseurl }}">
      <div class="col portfolio-card">
        <div class="content">
          <div class="card-thumbnail">
            {% if project.thumbnail %}
            <img src="{{ project.thumbnail }}" alt="project-thumbnail">
            {% else %}
            <img src="/assets/images/project-thumb.png" alt="project-thumbnail">
            {% endif %}
          </div>
          <div class="card-text">
            
              <h3>{{ project.title }}</h3>
            
            <p>{{ project.categories }}</p>
          </div>
        </div>
      </div>
    </a>

    {% endfor %}

  </div>
  
</div>


<!-- <script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script> -->