---
layout: home
---
<div class="wrapper">
	<h1 class="page-heading">Projects</h1> 	
	<p>Tinkering with technology to achieve practical solutions.</p>
</div>

{%- include projects.html -%}

<div class="wrapper">
	<h1 class="page-heading">Studies</h1>
	<p>Engagedly learning, beyond reading books and papers, to gain better understandings of topics.</p>
	<br/>

	{%- include studies.html -%}
</div>

<div class="wrapper">
	<h1 class="page-heading">Sketches</h1> 	
	<p>Using visuals to explore concepts & perspectives and to communicate thoughts & ideas.</p>
</div>

{%- include sketches.html -%}




<!-- <script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script> -->