---
layout: home
---
<div class="wrapper">
	<h1 class="page-heading">Projects</h1> 	
</div>

{%- include projects.html -%}

<div class="wrapper">
	<h1 class="page-heading">Studies</h1>
	{%- include studies.html -%}
</div>

<div class="wrapper">
	<h1 class="page-heading">Sketches</h1> 	
</div>

{%- include sketches.html -%}




<!-- <script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script> -->