---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header project-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y" -%}
        {{ page.date | date: date_format }}
      </time>
      <span>{{ page.type }}</span>

      {%- if page.organization -%}
        <span> — {{ page.organization }}</span>
      {%- endif -%}</p>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}</p>

      <blockquote>
        {{ page.intro }}
      </blockquote>

  </header>

  <section class="project-content">
    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </section>
</article>

<div class="PageNavigation">
  {% if page.next.url %}
    <a class="prev" href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
  {% else %}
    <a class="prev" href="#"></a>
  {% endif %}
  <a class="back-to-main" href="/portfolio">- Back to Portfolio -</a>
  {% if page.previous.url %}
    <a class="next" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
  {% endif %}

</div>
